#!/usr/bin/env bash

echo "###########################################################"
echo "Running: $0"
echo "###########################################################"

########################################
{{ if eq .chezmoi.os "darwin" -}}

test -f /usr/local/bin/brew && eval "$(/usr/local/bin/brew shellenv)"
test -f /opt/homebrew/bin/brew && eval "$(/opt/homebrew/bin/brew shellenv)"

# Common installs - macOS
echo "###########################################################"
echo "Brewing bundle: Brewfile.{{ .chezmoi.os }}._common"
echo "###########################################################"
brew bundle --file ~/.Brewfiles/Brewfile.{{ .chezmoi.os }}._common

########################################
# Only run on 'supported' OS versions
########################################
# https://setapp.com/how-to/full-list-of-all-macos-versions
# 10.15 - Catalina
# 11    - Big Sur
# 12    - Monterey
# 13    - Ventura
########################################
# Get OS version main number
OS_VER=$(sw_vers -productVersion | cut -f 1 -d .)

if [ "$OS_VER" -ge "11" ]; then
  brew install gcc

  # Current installs - macOS
  echo "###########################################################"
  echo "Brewing bundle: Brewfile.{{ .chezmoi.os }}._current"
  echo "###########################################################"
  brew bundle --file ~/.Brewfiles/Brewfile.{{ .chezmoi.os }}._current

#  if [ -f "~/Library/Preferences/com.apple.appstorecomponentsd" ]; then
#    echo "###########################################################"
#    echo "Brewing bundle: Brewfile.{{ .chezmoi.os }}._current.mas"
#    echo "###########################################################"
#    brew bundle --file ~/.Brewfiles/Brewfile.{{ .chezmoi.os }}._current.mas
#  fi
fi

########################################
{{ else if eq .chezmoi.os "linux" -}}

test -f ~/.linuxbrew/bin/brew && eval "$(~/.linuxbrew/bin/brew shellenv)"
test -f /home/linuxbrew/.linuxbrew/bin/brew && eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"

brew install gcc

# Common installs - Linux
echo "###########################################################"
echo "Brewing bundle: Brewfile.{{ .chezmoi.os }}._common"
echo "###########################################################"
brew bundle --file ~/.Brewfiles/Brewfile.{{ .chezmoi.os }}._common

########################################
{{ end -}}

# Named installs
if [ -f ~/.Brewfiles/Brewfile.{{ .chezmoi.os }}.{{ .chezmoi.hostname }} ]; then
  echo "###########################################################"
  echo "Brewing bundle: Brewfile.{{ .chezmoi.os }}.{{ .chezmoi.hostname }}"
  echo "###########################################################"
  brew bundle --file ~/.Brewfiles/Brewfile.{{ .chezmoi.os }}.{{ .chezmoi.hostname }}
fi

# Always exit as success
exit 0
